
<nav class="navbar">
  <div class="logo">
      <img src="images/logo.svg" alt="Logo" class="logo-img" />

    <ul class="navbar-menu">
      <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="guest-rooms.html" class="nav-link">Guest Rooms</a></li>
      <li class="nav-item"><a href="dining.html" class="nav-link">Dining</a></li>
      <li class="nav-item"><a href="spa.html" class="nav-link">Spa</a></li>
      <li class="nav-item"><a href="activities.html" class="nav-link">Activities & Excursions</a></li>
      <li class="nav-item"><a href="testimonials.html" class="nav-link">Testimonials</a></li>
    </ul>

    <button class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</nav>